Share-screen/ScreenRecordingSample-master/.idea/
Share-screen/serenegiant-common-master/.gradle/
Share-screen/serenegiant-common-master/.idea/
Share-screen/serenegiant-common-master/app/build/
Share-screen/serenegiant-common-master/
Share-screen/serenegiant-common-master.zip
